* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


 .game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
}

#character {
    width: 20px;
    height: 50px;
    background-color: rgba(0, 255, 157, 0.808);
    position: relative;
    top: 150px;
    border-radius: 3px;
}

.animate {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    70% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}

#block {
    width: 20px;
    height: 20px;
    background-color: rgb(195, 0, 255);
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
        left: 500px;
    }

    100% {
        left: -50px;
    }
}

p {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-top: 30px;
 }